body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: maroon;
}

nav{
    display: flex;
    padding: 20px 50px ;
    justify-content: space-between;

}
nav ul{
    gap: 40px;
    display: flex;
    list-style: none;
}
nav a{
    text-decoration: none;
     color: white;
}.logo{
    color: white;
    text-decoration: underline;
    font-size: 25px;
}
.me{
    border: solid 3px black;
    margin: 40px;
    border-radius: 35px 0 35px 0;
    text-align: justify;
}
button{
    text-align: center;
    align-items: center;
    display: flex;
}
